<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OutyetDesktopClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="OutyetDesktopClient.Properties.Settings.outyetConnectionString"
            connectionString="Data Source=CSONGI-LAPTOP\SQLEXPRESS;Initial Catalog=outyet;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <OutyetDesktopClient.Properties.Settings>
            <setting name="userName" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value>0</value>
            </setting>
        </OutyetDesktopClient.Properties.Settings>
    </userSettings>
</configuration>